{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>Nowadays, we see the chat bots anywhere chat bots are the source of solutions to the
user’s questions in any unique domain where it is working. Chat bots are the source of
answers to the user’s questions in any unique domain in which it's far working. Chat
bots are at almost every vicinity, you could see it at each 2nd internet site they visit. A
bot is helpful in answering queries associated with information which might be
unreachable at that website effortlessly. Most of the websites avail users with chat
bots to aid them to go through what the websites facilitate. They may be growing our
digital assistants in regular lives.</br>
        The need for university inquiry gadget arises because of diverse reasons which
include: the gradual nature of college website, an interloper could no longer recognise
wherein to search for a particular piece of facts, difficult for the man or woman
outside university’s domain to extract facts. The clever answer for all the drawbacks
lends to the want of the gadget. The college inquiry system will offer the reaction by
using summarizing the question after which output solutions, it also offers selective
statistics what the consumer needs. A college device will dispense all solutions
relating to domain names together with admission, exam mobile, be aware board,
attendance, placement cellular and other miscellaneous domains.</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>AI-powered chatbot that answers college-related queries instantly. Uses NLP
techniques to understand user questions and generate accurate responses. Provides
information on admissions, fees, exams, attendance, departments, placements, and
notices. Includes admin panel for updating FAQs and improving responses.Reduces
workload for staff and saves time for students and parents. Supports text and voice
input with potential for multilingual expansion.</p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}