<!DOCTYPE html>
<html>
<title>ChatBot</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-black w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item w3-text-white">Menu</h3>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="bot" class="w3-bar-item w3-button">Ask to CollegeBot</a>
  <a href="unanswered" class="w3-bar-item w3-button">Unanswered Questions</a>
  <a href="user" class="w3-bar-item w3-button">User's List</a>
  <a href="feedback" class="w3-bar-item w3-button">Feedback</a>
  <a href="view_feedback" class="w3-bar-item w3-button">View Feedbacks</a>

</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-blue">
  <h1>ChatBot For College Enquiry</h1>
</div>

{% block content %}
{% endblock %}



<!-- Footer-->
<div class="w3-container w3-blue">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>1. Chandrakanth</p>
      <p>2. Chetan</p>
    </div>
    <div class="w3-container w3-cell">
      <p>3. Chinnirathod</p>
      <p>4. Darshan</p>
    </div>
  </div>
  <div class="w3-container w3-cell w3-mobile">
    <h5>Guided By</h5>
    <p>Prof Tanaya Bala Behera</p>
  </div>
  </div>

</div>
      
</body>
</html>
